@model GenericApp.Web.Models.CountryViewModel

@{
    ViewData["Title"] = "Create";
}


<h2>
    <img src="~/images/Flags/addcountry.png" alt="Image" style="width:70;height:70px;max-height: 100%; width: auto;" />
    Agregar nuevo País
</h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <partial name="_Country" />

                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-success">Regresar</a>
                </div>
            </form>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}