@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Luis Alberto Núñez<br />
    Espora 2052 B° Rosedal - Córdoba<br />
    <abr title="Phone">Teléfono:</abr>
    351 - 4659552
</address>

<address>
    <strong>Contacto:</strong> <a href="mailto:luisalbertonu@gmail.com">luisalbertonu@luisalbertonu.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:luisalbertonu@example.com">luisalbertonu@luisalbertonu.com</a>
</address>
