@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Key_Press Software Developers<br />
    Mistol 71 Mi Valle Golf, Va. Parque Sta. Ana<br />
    Córdoba - Argentina (5101)<br />
    <abr title="Phone">Teléfono:</abr>
    54 9  3513002255
</address>

<address>
    <strong>Contacto:</strong> <a href="mailto:info@keypress.com.ar">info@keypress.com.ar</a><br />
    <strong>Marketing:</strong> <a href="mailto:administracion@keypress.com.ar">administracion@keypress.com.ar</a><br />
    
</address>
