@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/keypress.png" />
    
</div>
<div class="text-center">
    <label for="version">Version:</label>
    <span id="version">@ViewBag.DotnetVersion</span>
</div>
